body{
    background-color: #1595d3;
}
h1{
    text-align: center;
}
.mission {
    align-items: center;
}
.mission-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    max-width: 1000px;
    min-height: 250px;
    z-index: 1;
}
.mission{
    font-family: Verdana, Geneva, sans-serif;
    font-size: medium;
}
.developers {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    max-width: 1000px;
    min-height: 250px;
    z-index: 1;
}

.developers img{
    width: 200px;
    height: 200px;
    display: inline;
    align-items: center;
}