body{
    background-color: #1595d3;
}
h1{
    text-align: center;
}
.mission {
    align-items: center;
}
.mission-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    max-width: 1000px;
    min-height: 250px;
    z-index: 1;
}
.mission{
    font-family: Verdana, Geneva, sans-serif;
    font-size: medium;
}
.developers {
    position: absolute;
    display: flex;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: solid 2px #FFFFFF11;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #000000FF;
    width: 75%;
    max-width: 1000px;
    min-height: 450px;
    z-index: 1;
    align-items: center;
}

.developers svg,img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.developers h1{
    margin-left: 40%;
    margin-top: -34%;
}
.profile_image{
    display: flex;
    margin-left: -55%;
}
.profile_image img,svg {
    margin: 25px;    
}
.profile_image p{
    text-align: center;
    font-family: "Arial Black", Arial, sans-serif;
    font-weight: bold;
}

.fish {
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    animation: swim 10s linear infinite;
}

.fish2 {
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 20%;
    transform: translateY(-50%);
    animation: swim2 10s linear infinite;
}

@keyframes swim {
    0% {
        left: -100px;
    }
    100% {
        left: 89%;
    }
}

@keyframes swim2 {
    0% {
        left: 89%;
    }
    100% {
        left: 0%;
    }
}
